/*
BLACK - 3B3C50
GREEN - 21E7B6
DGREN - 1FD6AA
GREY  - 7E8288
*/

body {
	height: 100vh;
	background-color: #3b3c50;
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#green-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 20vh;
	width: 100vw;
	background-color: #21e7b6;
	z-index: -1;
}

.profile-wrapper {
	background-color: #3b3c50;
	height: 70%;
	width: 90%;
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.profile-image {
	display: flex;
	width: 80%;
	transform: translateY(-25%);
	box-sizing: border-box;
	border-bottom: 2px solid #7e8288;
}

.profile-image img {
	width: 100%;
}
